{% extends "base.html" %}

{% load humanize %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
<div class="d-flex h-100">
  <div class="chat-rooms h-100 w-25">
    <div class="rooms m-3">
      <div class="d-flex justify-content-between">
        <h3>New<span class="text-primary">Chat</span></h3>
        <button
          type="button"
          class="btn btn-transparent mb-2"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          <i class="bi bi-plus-circle-fill text-primary"></i>
        </button>
      </div>
      <ul class="list-rooms list-group shadow border-0">
        {% include "list-rooms.html" %}
      </ul>
    </div>
  </div>
  <div class="chat-messages vh-100 w-75">
    <div class="messages card m-3 p-3 h-75 shadow border-0 overflow-auto">
      {% include "list-messages.html" %}
    </div>
      <div class="send-message card m-3 shadow border-0">
        {% include "send-message.html" %}
      </div>
    </div>
  </div>
</div>

{% include "create-room.html" %}

{% endblock %}

{% block js %}
  <script defer src="{% static 'js/index.js' %}"></script>
{% endblock %}
